<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>食药安全大数据</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
		<!-- <link rel="stylesheet" href="../css/swiper-4.2.2.min.css" /> -->
		<link rel="stylesheet" href="../css/reset.css" />
		<!-- <link rel="stylesheet" href="../css/pub.css" /> -->
		<link rel="stylesheet" href="../css/commonNav.css" />
		<link rel="stylesheet" href="productService.css" />
	</head>

	<body style="display: none">
		<div class="topNav">
			<div class="logo fl">食药安全大数据</div>
			<div class="nav fr">
				<ul>
					<li><a href="../home/home.html">主页</a></li>
					<li>
						<a href="javascript:void(0)" class="current">产品&服务</a>
						<div class="secNav">
							<span class="secItem" name="1">食品安全风险分析</span>
                            <span class="secItem" name="2">食品安全关联图谱</span>
                            <span class="secItem" name="3">网络餐饮风险地图</span>
                            <span class="secItem" name="4">市场主体风险分析</span>
                            <span class="secItem" name="5">食品安全风险预警</span>
                            <span class="secItem" name="6">食药投诉智能分析</span>
                            <span class="secItem" name="7">监管效能循数评价</span>
                            <span class="secItem" name="8">餐饮行业智慧监管</span>
						</div>
					</li>
					<li><a href="../whitePaper/whitePaper.html">行业报告</a></li>
					<li><a href="http://www.unionbigdata.com/about.aspx?t=10">关于我们</a></li>
				</ul>
			</div>
		</div> 
		<section id="riskAnalysis" class="secondPage">
			<div class="header header01">
				<!-- <div class="con">
					<div class="header-txt">
						<img src="../images/bannerpic0.png" alt="" />
						<span>食品安全风险分析</span>
					</div>
					<img class="bg-r" src="../images/bannerpic1.png" alt="" />
				</div> -->
				<!-- <img src="../images/sec_01.jpg"/> -->
			</div>
			<div class="content">
				<div class="con">
					<div>
						<div>
							<div class="head">
								<span>产品介绍</span> <br />
								<span>Product introduction</span>
							</div>
							<div class="details">
								<img class="pro-img" src="../images/pic01-01.png" alt="" />
								<div class="pro-txt">
									针对食品安全抽检计划制定、执行、统计及分析的工作人员、融合全国各省市及本地食品抽检数据、食品生产经营主体数据、企业许可数据等多源数据，分析历史特征及影响因素，构建食品安全风险预测模型，对食品品类、检验项目、区域及环节四个维度进行分析，并以风险指数的形式进行定量描述，以达到辅助决策建议的作用。
								</div>
							</div>
						</div>
						<div>
							<div class="head">
								<span>行业现状</span> <br />
								<span>the Status of Industry</span>
							</div>
							<div class="details">
								<img class="indu-img" style="bottom:80px" src="../images/pic02.png" alt="" />
								<div class="indu-txt-risk">
									<div>
										<span>01</span>
										<div class="indu-t">监管对象越加复杂</div>
										<div class="indu-b">市场监管主体众多，食品品类越加复杂，食品污染风险因素增多，食品安全问题日益多样化。</div>
									</div>
									<div>
										<span>02</span>
										<div class="indu-t">新技术新业态考验</div>
										<div class="indu-b">用于食品包装的新材料，注水猪肉、农药残留等各种潜规则，互联网外卖、网络食品等新业态，纯绿色无污染等安全欺诈。</div>
									</div>
									<div>
										<span>03</span>
										<div class="indu-t">食品安全监管资源有限</div>
										<div class="indu-b">从越加复杂监管主体到日益严峻的行业现状，加之网络舆情谣言等，造成了有限的监管资源难以应对无限的监管市场。</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div>
							<div class="head">
								<span>设计理念</span> <br />
								<span>Design Concept</span>
							</div>
							<div class="details">
								<div class="des-risk">
									<img src="../images/pic00.png" alt="" />
									<div class="des-risk-l">
										<span>机器学习+专家经验结合</span>
										<span>综合经典统计、机器学习、人工智能等技术，挖掘和分析海量数据，揭示深刻洞见，支撑高效、精准的决策。</span>
									</div>
									<div class="des-risk-r">
										<span>多源数据融合</span>
										<span>本地食品抽样数据、本地检验检测数据、全国食品抽样数据、全国检验检测数据、食品安全网络舆情数据、食品生产经营主体数据、企业许可数据、食品安全国家标准数据、快检数据、食源性疾病病例数据...</span>
									</div>
								</div>
							</div>
						</div> -->
						<div>
							<div class="head">
								<span>功能亮点</span> <br />
								<span>Function Highlights</span>
							</div>
							<div class="details">
								<div class="fun-txt">
									<img src="../images/img1.png" alt="" />
									<span class="fun-t">多源数据融合</span>
									<span class="fun-b">汇聚抽检数据、检验检测数据、稽查执法数据、行政许可数据、食安委成员单位数据、互联网平台数据、食品安全国家标准数据、食源性疾病病例数据……</span>
								</div>
								<div class="fun-txt">
									<img src="../images/img5.png" alt="" />
									<span class="fun-t">风险趋势预测分析</span>
									<span class="fun-b">基于时空分析算法，构建食药安全风险模型，针对品类、检验项、区域及环节4个维度，预测其风险分布及变化趋势，输出决策建议，辅助抽检计划制定</span>
								</div>
								<div class="fun-txt">
									<img src="../images/img6.png" alt="" />
									<span class="fun-t">数据预警中心</span>
									<span class="fun-b">结合抽检和预测数据，针对日常抽检与监管中的重点问题进行实时预警，可与信息化系统对接实现即时的消息推送与共享</span>
								</div>
								<div class="fun-txt">
									<img src="../images/img7.png" alt="" />
									<span class="fun-t">统计报表自动生成</span>
									<span class="fun-b">提供一键式生成月度、季度、半年及年度抽检统计分析报告，简化工作流程，提高工作效率</span>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="swiper-pagination"></div> -->
				</div>
			</div>
		</section>
		<section id="assMap" class="secondPage">
			<div class="header header02">
				<!-- <div class="con">
					<div class="header-txt">
						<img src="../images/bannerpic0.png" alt="" />
						<span>食品安全关联图谱</span>
					</div>
					<img class="bg-r" src="../images/bannerpic2.png" alt="" />
				</div> -->
				<!-- <img src="../images/sec_02.jpg"/> -->
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img pro-img-assmap" style="width:630px" src="../images/pic03.png" alt="" />
						<div class="pro-txt">
							食品安全关联图谱面向食品安全检验工作人员，将产品标准和通用标准等食品安全国家标准进行结构化数据处理，以关联图谱的可视化形式对食品分类和检验项目进行关联分析与展示，最大化满足用户对于大量的检验检测标准的查询与检索工作，简化工作流程，提高工作效率。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-assmap" src="../images/pic04.png" alt="" />
						<div class="indu-txt">
							<div>
								<span>01</span>食品安全标准繁杂，信息检索不便；
							</div>
							<div>
								<span>02</span>实验室信息管理系统（LIMS）难以自动匹配检验项目标准限量值；
							</div>
							<div>
								<span>03</span>食品安全标准更新频繁，难以精确掌握标准更新动态；
							</div>
							<div>
								<span>04</span>食品市场主体众多，关联复杂。
							</div>
						</div>
					</div>
					<!-- <div class="head">
						<span>设计理念</span> <br />
						<span>Design Concept</span>
					</div>
					<div class="details">
						<img class="des-img" src="../images/pic05-01.png" alt="" />
						<div class="des-txt">
							<div>
								<div class="des-t">
									<span></span> 数据融合
								</div>
								<div class="des-b">产品融合了通用标准11个，食品产品标准1032个，共计10余万条数据；另外还包括国际食品法典数据、农药标签信息数据、历年国抽细则等数据。</div>
							</div>
							<div>
								<div class="des-t">
									<span></span> 数据挖掘
								</div>
								<div class="des-b">通过对数据的分析挖掘，可以对食品的实际临界限量进行分析，从而对检测标准的优化提供指导意义。</div>
							</div>
						</div>
					</div> -->
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details">
						<div class="fun-txt">
							<img src="../images/img1.png" alt="" />
							<span class="fun-t">多源数据融合</span>
							<span class="fun-b">产品融合了通用标准11个，食品产品标准1032个，共计10万余条数据；另外还包括国际食品法典数据、农药标签信息数据、历年国抽细则等数据</span>
						</div>
						<div class="fun-txt">
							<img src="../images/img2.png" alt="" />
							<span class="fun-t">一键式关联查询</span>
							<span class="fun-b">以食品品类和检验项目双视角查询安全标准，以图谱和表格的形式展示两者之间的限量关系</span>
						</div>
						<div class="fun-txt">
							<img src="../images/img3.png" alt="" />
							<span class="fun-t">云端化部署</span>
							<span class="fun-b">采用Saas模式实现产品云端化部署，保证食品安全标准的及时更新与更好的用户体验</span>
						</div>
						<div class="fun-txt">
							<img src="../images/img4.png" alt="" />
							<span class="fun-t">企业本地化链图</span>
							<span class="fun-b">以本地抽检企业为数据源，提供企业产品图谱，追溯企业上下游供应链信息</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="riskMap" class="secondPage">
			<div class="header header03">
				<!-- <div class="con">
					<div class="header-txt">
						<img src="../images/bannerpic0.png" alt="" />
						<span>网络餐饮风险地图</span>
					</div>
					<img class="bg-r" src="../images/bannerpic3.png" alt="" />
				</div> -->
				<!-- <img src="../images/sec_03.jpg"/> -->
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img" style="height:290px" src="../images/pic06-01.png" alt="" />
						<div class="pro-txt" style="top:60%">
							针对网络餐饮业态进行监管，通过大量网络数据、日常监管数据、专项检查信息、稽查执法信息等多源数据进行融合，对区域内网络餐饮主体的证照信息进行有效识别，精确定位问题商家，为餐饮监管人员提供决策辅助建议，提高监管效率。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-riskmap" style="height:306px;bottom: 80px" src="../images/pic07-01.png" alt="" />
						<div class="indu-txt-reskmap">
							<div>
								<div class="reskmap-t">监管对象越加复杂</div>
								<div class="reskmap-b">
									<span></span> 网餐商家套证、假证等资质问题屡见不鲜，超范围经营频频发生；
								</div>
								<div class="reskmap-b">
									<span></span> 不少网络餐饮商家卫生状况堪忧，存在食源性隐患；
								</div>
								<div class="reskmap-b">
									<span></span> 餐饮环节动态变化，风险难以把控。
								</div>
							</div>
							<div>
								<div class="reskmap-t">新技术新业态考验</div>
								<div class="reskmap-b">
									<span></span> 餐饮商家规模不一，量大而广；
								</div>
								<div class="reskmap-b">
									<span></span> 人工检查基于“面”（业态），难到“点”（商家）；
								</div>
								<div class="reskmap-b">
									<span></span> 人工全面核查商家资质难以实现
								</div>
							</div>
						</div>
					</div>
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details">
						<div class="fun-txt">
							<img src="../images/img8.png" alt="" />
							<span class="fun-t">7X24小时网络订餐数据获取</span>
							<span class="fun-b">基于强大的互联网数据采集能力，实现7X24小时不间断获取网络商户公开数据，每天可采集至少上万家餐饮商家信息</span>
						</div>
						<div class="fun-txt">
							<img src="../images/img9.png" alt="" />
							<span class="fun-t">自动挖掘网络风险词云</span>
							<span class="fun-b">基于word2vec+CNN文本识别算法，系统能够从成千上万商家的海量用户评论中抓取出诸如“拉肚子”、“恶心”、“过期”等潜在食源性风险关键词，从而锁定潜在问题商家，指导日常监管工作精准开展</span>
						</div>
						<div class="fun-txt">
							<img src="../images/img10.png" alt="" />
							<span class="fun-t">证照核查</span>
							<span class="fun-b">基于OCR图片识别算法，系统能够从数以万计的商家证件图片中“明察”诸如证照是否已公示、超范围经营、假证等 “秋毫”，并进行全天候、高频次智能核查，比人眼识别判断效率高1000余倍</span>
						</div>
						<div class="fun-txt">
							<img src="../images/img11.png" alt="" />
							<span class="fun-t">统计报表自动生成</span>
							<span class="fun-b">提供一键式生成月度、季度、半年及年度抽检统计分析报告，简化工作流程，提高工作效率</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 市场主体风险分析 -->
		<section class="secondPage">
			<div class="header header03">
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img" style="height:290px" src="../images/pic06-01.png" alt="" />
						<div class="pro-txt" style="top:60%">
							整合多源数据，实现企业数据的关联融合，建立企业全息档案，并构建市场主体风险分级模型，以大数据的手段提供企业风险分级调整建议，可视化区域内企业风险概况，实现企业风险的全量监管。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-assmap" src="../images/pic04.png" alt="" />
						<div class="indu-txt">
							<div>
								<span>01</span>企业动态变化数据不易掌握，难以随时了解其经营状况；
							</div>
							<div>
								<span>02</span>不法分子逃避监管、规避检查、对抗执法手段复杂；
							</div>
							<div>
								<span>03</span>各级监管部门缺乏有效的数据共享机制，对企业风险分级的判定存在片面性；
							</div>
							<div>
								<span>04</span>对企业风险分级评定结果的准确性，无法完成全量复核，监管存在被动性。
							</div>
						</div>
					</div>
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details" style="text-align: center">
						<div class="center_line">
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">主体风险地图</span>
								<span class="fun-b">自动捕捉高风险市场主体，即时呈现其地理位置及风险分级信息，实现大数据精准监管</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">调级建议自动生成</span>
								<span class="fun-b">自动关联企业主体日常监管数据、行政处罚数据、稽查执法数据、投诉举报数据等信息，根据风险分级模型自动生成调级建议</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">企业全息画像</span>
								<span class="fun-b">融合多源异构数据进行关联分析，全面解构企业信息，呈现企业全息档案</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 食品安全风险预警 -->
		<section class="secondPage">
			<div class="header header02">
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img" style="height:290px" src="../images/pic06-01.png" alt="" />
						<div class="pro-txt" style="top:60%">
								整合多源数据构建食品安全风险预警模型，并通过对数据的实时动态分析，从食品品类、检验项目、企业主体、进口食品、国际食品资讯等各方面进行风险预警，对预警信息进行实时分发与推送，直达监管末端，指导监管人员精确定位风险，提高食品安全监管的靶向性和高效性。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-assmap" src="../images/pic04.png" alt="" />
						<div class="indu-txt">
							<div>
								<span>01</span>食安监管普遍以日常抽查为主，缺少全局关联风险预警与防控；
							</div>
							<div>
								<span>02</span>各地监管部门数据难以实现共享，无法及时评估全国问题企业的关联影响；
							</div>
							<div>
								<span>03</span>国际食安问题日益多样化，新风险、新资讯难以及时掌握。
							</div>
						</div>
					</div>
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details" style="text-align: center">
						<div class="center_line">
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">食品品类预警</span>
								<span class="fun-b">实时动态提供抽检不合格食品信息，并对不合格食品大类进行分析，提供预警参考信息</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">检验项目预警</span>
								<span class="fun-b">对检测中发现的高危检验项目进行实时预警推送，并对不合格检验类型进行统计分析</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">市场主体风险预警</span>
								<span class="fun-b">对过度抽检、受到多次行政处罚及本地流出不合格食品的企业进行实时预警推送</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">国际食品安全预警</span>
								<span class="fun-b">提供全球范围内的食品安全预警资讯和各海岸关口的进口不合格食品信息，开展多维度、多层次的分析挖掘，为监管提供指导性建议</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 食药投诉智能分析 -->
		<section class="secondPage">
			<div class="header header03">
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img" style="height:290px" src="../images/pic06-01.png" alt="" />
						<div class="pro-txt" style="top:60%">
							基于投诉举报、网民留言等数据，通过文本语义模式识别和关键特征定位技术，实现职业打假人等特殊人群识别及重点问题企业定位，并且挖掘出不同区域面临的重点投诉问题，助力靶向监管，为监管部门维护市场公平、提升市场秩序提供强有力的数据支撑。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-assmap" src="../images/pic04.png" alt="" />
						<div class="indu-txt">
							<div>
								<span>01</span>公众消费需求升级，高度关注食药安全相关问题，食药投诉量大；
							</div>
							<div>
								<span>02</span>职业性投诉占用大量监管资源，缺乏智能识别手段。
							</div>
						</div>
					</div>
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details" style="text-align: center">
						<div class="center_line">
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">投诉人群智能分类</span>
								<span class="fun-b">对投诉数据中投诉人及其投诉内容展开特征提取，对“普通投诉人”和“职业打假人”进行智能分类</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">“职业打假人”预警</span>
								<span class="fun-b">提供“职业打假人”名单及“职业打假”概率，深度挖掘其投诉历史偏好，呈现人群画像</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">投诉大数据看板</span>
								<span class="fun-b">对有效投诉内容进行文本挖掘及聚类分析，可视化展示投诉时间、区域、渠道、产品类别分布</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 监管效能循数评价 -->
		<section class="secondPage">
			<div class="header header03">
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img" style="height:290px" src="../images/pic06-01.png" alt="" />
						<div class="pro-txt" style="top:60%">
							从监管人员数量、持证人员比例、辖区面积、辖区主体数量、巡检路程、日常监管次数、任务完成平均时长、数据填报质量等维度出发，运用节点行为异常算法、点距离近似计算算法等技术手段，帮助上级单位从监管能力、监管难度、监管行为、监管效果、数据质量五个方面综合评价下级单位的监管效能。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-assmap" src="../images/pic04.png" alt="" />
						<div class="indu-txt">
							<div>
								<span>01</span>上级单位难以掌握下级单位的监管能力、监管难度；
							</div>
							<div>
								<span>02</span>监管工作绩效评价缺乏客观公正的数据支持。
							</div>
						</div>
					</div>
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details" style="text-align: center">
						<div class="center_line">
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">监管效能评价模型</span>
								<span class="fun-b">关联多维度数据，结合数据挖掘和专家经验，建立监管效能评价模型，全面、客观地评价下级单位的监管效能</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">监管效能多维分析</span>
								<span class="fun-b">从区域、时间、综合效能等级等角度统计分析各下级单位的监管效能，并提示监管异常现象</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">监管效能可视化</span>
								<span class="fun-b">以地图等可视化图表呈现各下级单位监管效能的分布情况，辅助上级单位直观掌握区域内总体监管情况</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 餐饮行业智慧监管 -->
		<section class="secondPage">
			<div class="header header03">
			</div>
			<div class="content">
				<div class="con">
					<div class="head">
						<span>产品介绍</span> <br />
						<span>Product introduction</span>
					</div>
					<div class="details">
						<img class="pro-img" style="height:290px" src="../images/pic06-01.png" alt="" />
						<div class="pro-txt" style="top:60%">
							通过融合食用农产品溯源、等级评定、明厨亮灶、网络餐饮、乡村群宴、餐厨垃圾处置等多源数据，打破餐饮各环节之间的数据壁垒，用互联网+大数据技术整合分析餐饮监管全流程数据，实现餐饮行业全链条覆盖、全流程管控，辅助监管方有效提升餐饮业质量安全水平。
						</div>
					</div>
					<div class="head">
						<span>行业现状</span> <br />
						<span>the Status of Industry</span>
					</div>
					<div class="details">
						<img class="indu-img indu-img-assmap" src="../images/pic04.png" alt="" />
						<div class="indu-txt">
							<div>
								<span>01</span>餐饮监管链条复杂，难以实现全程留痕；
							</div>
							<div>
								<span>02</span>新技术、新模式、新业态不断涌现，监管资源与监管对象不匹配的矛盾日益突显。
							</div>
						</div>
					</div>
					<div class="head">
						<span>功能亮点</span> <br />
						<span>Function Highlights</span>
					</div>
					<div class="details" style="text-align: center">
						<div class="center_line">
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">全链条监管</span>
								<span class="fun-b">整合分析原材料、加工、消费、餐厨垃圾处理全链条数据，实现全程留痕、信息可追溯</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">餐饮企业全息画像</span>
								<span class="fun-b">融合多源异构数据进行关联分析，全面解构餐饮企业信息，呈现餐饮企业全息档案</span>
							</div>
							<div class="fun-txt">
								<img src="../images/img1.png" alt="" />
								<span class="fun-t">智慧监管</span>
								<span class="fun-b">集数据汇聚、融合、分析挖掘风险预警推送为一体，数据推动管理变革</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="footer">
			<div class="commonCon">
				<div class="contact_l fl">
					<p>指导单位： 成都市食品安全监测预警数据中心&nbsp;&nbsp;&nbsp; 国家药品不良反应监测中心&nbsp;&nbsp;&nbsp; 成都市科技局&nbsp;&nbsp;&nbsp;成都新经济委</p>
					<p>蜀ICP备13021642号-9 © 2018 成都数之联科技有限公司. All rights reserved.</p>
				</div>
				<div class="contact_r fr">
					<img src="../images/code.png" alt=""/>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/jquery.min.js"></script>
	<!-- <script src="../js/swiper-4.2.2.min.js"></script> -->
	<script src="../js/pub.js"></script>
	<script src="../js/commonNav.js"></script>
	<script src="productService.js"></script>

</html>