<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>食药安全大数据</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="home.css" />
        <link rel="stylesheet" href="../css/commonNav.css" />
        <link rel="stylesheet" href="../css/animate.min.css" />
	</head>

	<body>
        <!-- top -->
        <div class="topNav">
            <div class="logo fl">食药安全大数据</div>
            <div class="nav fr">
                <ul>
                    <li><a href="../home/home.html" class="current">主页</a></li>
                    <li>
                        <a href="javascript:void(0)">产品&服务</a>
                        <div class="secNav">
                            <span class="secItem" name="1">食品安全风险分析</span>
                            <span class="secItem" name="2">食品安全关联图谱</span>
                            <span class="secItem" name="3">网络餐饮风险地图</span>
                            <span class="secItem" name="4">市场主体风险分析</span>
                            <span class="secItem" name="5">食品安全风险预警</span>
                            <span class="secItem" name="6">食药投诉智能分析</span>
                            <span class="secItem" name="7">监管效能循数评价</span>
                            <span class="secItem" name="8">餐饮行业智慧监管</span>
                        </div>
                    </li>
                    <li><a href="../whitePaper/whitePaper.html">行业报告</a></li>
                    <li><a href="http://www.unionbigdata.com/about.aspx?t=10">关于我们</a></li>
                </ul>
            </div>
        </div>           
        <div class="video_box">
            <div class="video">
                <video autoplay="autoplay" width="100%" id="video" muted>
                     <!--<source src="https://t.alipayobjects.com/images/T1T78eXapfXXXXXXXX.mp4" type="video/mp4">--> 
                     	<source src="../videos/video1.mp4"></source>
                </video>
            </div>
            <div class="head_txt"><p class="centerTxt">数据融合发现新知&emsp;&emsp;机器学习助力监管</p></div>
        </div>
        <!--  -->
        <div class="industry">
            <div class="commonCon industryCon">
                <div class="com_left fl" id="leftAnimate">
                    <img src="../images/industry.png" class="industry_img" alt="" />
                </div>
                <div class="com_right fl" id="rightAnimate">
                    <div class="industry_content">
                        <div class="industry_title">
                            <span class="titleBig">行业现状</span>
                            <span class="titleLit">&emsp;/&emsp;Industry Status</span>
                        </div>
                        <div class="industry_list">
                            <ul>
                                <li><em class="a"></em>监管对象愈加复杂，有限的监管资源面对无限的监管对象</li>
                                <li><em class="b"></em>食品安全问题日益多样化，新技术、新业态层出不穷，考验监管智慧</li>
                                <li><em class="c"></em>社会诚实信用机制欠缺，食药安全社会多元共治体系有待完善</li>
                                <li><em class="d"></em>公众消费需求升级，社会关注度、敏感度空前高涨</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="design designCon">
            <div class="bg_l fl" id="designLeft">
                <div class="title_con designTitle" id="designTL">
                    <div class="titleBig">设计</div>
                    <div class="titleLit">Solving</div>
                </div>
                <div class="texts">
                    <div class="contents">
                        <p class="title">机器学习+专家结合</p>
                        <p class="content">综合经典统计、机器学习、人工智能等技术，挖掘和分析海量数据，揭示深刻洞见，支撑高效、精准的决策。</p>
                    </div>
                </div>
            </div>
            <div class="bg_r fl" id="designRight">
                <div class="title_con designTitle" id="designTR">
                    <div class="titleBig">理念</div>
                    <div class="titleLit">Ideas</div>
                </div>
                <div class="texts">
                    <div class="contents">
                        <p class="title">多源数据融合</p>
                        <p class="content">融合检验检测数据、食品生产经营风险量化值、食安网络舆情数据、食源性疾病病例、GS1商品条码数据、消费平台UGC数据...</p>
                    </div>
                </div>
                
            </div>
            <div class="computer" id="computer">
                <div class="computer-box">
                    <img src="../images/computer.png" alt="" />
                    <div class="computerLine leftLine" >
                        <span class="circle"></span>
                    </div>
                    <div class="computerLine rightLine"><span class="circle"></span></div>
                </div>
            </div>
        </div>
        <div class="product productCon">
            <div class="commonTitle productTitle" id="productTitle">
                <p class="titleBig">产品介绍</p>
                <p class="titleLit">Production</p>
            </div>
            <div class="commonCon productItemCon">
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_01.png" alt="" class="icon"/>
                        <p class="show_txt">食品安全风险分析系统</p>
                    </div>
                    <img src="../images/po_01.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">针对食品安全抽检计划制定、执行、统计及分析的工作人员，融合全国各省市及本地食品抽检数据、食品生产经营主体数据、企业许可数据等多源数据，分析历史特征及影响因素，构建食品安全风险预测模型，对食品品类、检验项目、区域及环节四个维度进行分析，并以风险指数的形式进行定量描述，以达到辅助决策建议的作用。</p>
                        <div class="viewDetail moreClick" name="1">查看详情</div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_02.png" alt="" class="icon"/>
                        <p class="show_txt">食品安全关联图谱</p>
                    </div>
                    <img src="../images/po_02.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">食品安全关联图谱面向食品安全检验工作人员，将产品标准和通用标准等食品安全国家标准进行结构化数据处理，以关联图谱的可视化形式对食品分类和检验项目进行关联分析与展示，最大化满足用户对于大量的检验检测标准的查询与检索工作，简化工作流程，提高工作效率。</p>
                        <!-- <div class="viewDetail">查看详情</div> -->
                        <div class="more_btn">
                            <span class="moreClick" name="2">查看详情</span>
                            <span><a href="#">应用</a></span>
                        </div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_03.png" alt="" class="icon"/>
                        <p class="show_txt">网络餐饮风险地图</p>
                    </div>
                    <img src="../images/po_03.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">针对网络餐饮业态进行监管，通过大量网络数据、日常监管数据、专项检查信息、稽查执法信息等多源数据进行融合，对区域内网络餐饮主体的风险值进行预测，形成本地风险词云，以及对餐饮主体的证照信息进行有效识别，精确定位问题商家，为餐饮监管人员提供决策辅助建议，提高监管效率。</p>
                        <div class="viewDetail moreClick" name="3">查看详情</div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_04.png" alt="" class="icon"/>
                        <p class="show_txt">市场主体风险评级</p>
                    </div>
                    <img src="../images/po_04.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">整合多源数据，实现企业数据的关联融合，建立企业全息档案，并构建市场主体风险分级模型，以大数据的手段提供企业风险分级调整建议，可视化区域内企业风险概况，实现企业风险的全量监管。</p>
                        <div class="viewDetail moreClick" name="4">查看详情</div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_05.png" alt="" class="icon"/>
                        <p class="show_txt">食品安全预警系统</p>
                    </div>
                    <img src="../images/po_05.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">整合多源数据构建食品安全风险预警模型，并通过对数据的实时动态分析，从食品品类、检验项目、企业主体、进口食品、国际食品资讯等各方面进行风险预警，对预警信息进行实时分发与推送，直达监管末端，指导监管人员精确定位风险，提高食品安全监管的靶向性和高效性。</p>
                        <div class="viewDetail moreClick" name="5">查看详情</div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_06.png" alt="" class="icon"/>
                        <p class="show_txt">投诉大数据分析系统</p>
                    </div>
                    <img src="../images/po_06.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">基于投诉举报、网民留言等数据，通过文本语义模式识别和关键特征定位技术，实现职业打假人等特殊人群识别及重点问题企业定位，并且挖掘出不同区域面临的重点投诉问题，助力靶向监管，为监管部门维护市场公平、提升市场秩序提供强有力的数据支撑。</p>
                        <div class="viewDetail moreClick" name="6">查看详情</div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_07.png" alt="" class="icon"/>
                        <p class="show_txt">监管效能大数据分析系统</p>
                    </div>
                    <img src="../images/po_07.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">从监管人员数量、持证人员比例、辖区面积、辖区主体数量、巡检路程、日常监管次数、任务完成平均时长、数据填报质量等维度出发，运用节点行为异常算法、点距离近似计算算法等技术手段，帮助上级单位从监管能力、监管难度、监管行为、监管效果、数据质量五个方面综合评价下级单位的监管效能。</p>
                        <div class="viewDetail moreClick" name="7">查看详情</div>
                    </div>
                </div>
                <div class="product_item">
                    <div class="show_con">
                        <img src="../images/product_08.png" alt="" class="icon"/>
                        <p class="show_txt">餐饮行业智慧监管系统</p>
                    </div>
                    <img src="../images/po_08.png" alt="" class="hideIcon"/>
                    <div class="hide_con">
                        <p class="hide_txt">通过融合食用农产品溯源、等级评定、明厨亮灶、网络餐饮、乡村群宴、餐厨垃圾处置等多源数据，打破餐饮各环节之间的数据壁垒，用互联网+大数据技术整合分析餐饮监管全流程数据，实现餐饮行业全链条覆盖、全流程管控，辅助监管方有效提升餐饮业质量安全水平。</p>
                        <div class="viewDetail moreClick" name="8">查看详情</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case caseCon">
            <div class="commonTitle caseTitle" id="caseTitle">
                <p class="titleBig whiteT">典型案例</p>
                <p class="titleLit grayT">Typical Case</p>
            </div>
            <div class="case_titles" id="titleTxt">以多源数据和强大算法为支撑，形成了成熟完善的食品药品监管行业解决方案。相继完成了山东省、成都市、福建省、安徽省、广西壮族自治区等地的项目落地与实施，业务覆盖到全国十余个省市，获得客户的高度认可。</div>
            <div class="commonCon areaCon">
                <div class="case_area">
                    <p class="area_name">山东</p>
                    <p class="case_name">山东食药监局</p>
                </div>
                <div class="case_area">
                    <p class="area_name">成都</p>
                    <p class="case_name">成都食药监局</p>
                </div>
                <div class="case_area">
                    <p class="area_name">福建</p>
                    <p class="case_name">福建省食药监局</p>
                </div>
                <div class="case_area">
                    <p class="area_name">安徽</p>
                    <p class="case_name">安徽省食药监局</p>
                </div>
                <div class="case_area">
                    <p class="area_name">广西</p>
                    <p class="case_name">广西壮族自治区食药监局</p>
                </div>
            </div>
            
        </div>
        <div class="partner partnerCon">
            <div class="commonTitle partnerTitle">
                <p class="titleBig">合作伙伴</p>
                <p class="titleLit">Partner</p>
            </div>
            <div class="commonCon partnerImg">
                <ul>
                    <li><img src="../images/op_01.jpg" alt="" class="show_logo"/><img src="../images/logo01.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_02.jpg" alt="" class="show_logo"/><img src="../images/logo02.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_03.jpg" alt="" class="show_logo"/><img src="../images/logo03.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_04.jpg" alt="" class="show_logo"/><img src="../images/logo04.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_05.jpg" alt="" class="show_logo"/><img src="../images/logo05.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_06.jpg" alt="" class="show_logo"/><img src="../images/logo06.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_07.jpg" alt="" class="show_logo"/><img src="../images/logo07.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_08.jpg" alt="" class="show_logo"/><img src="../images/logo08.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_09.jpg" alt="" class="show_logo"/><img src="../images/logo09.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_10.jpg" alt="" class="show_logo"/><img src="../images/logo10.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_11.jpg" alt="" class="show_logo"/><img src="../images/logo11.jpg" alt="" class="hide_logo"/></li>
                    <li><img src="../images/op_12.jpg" alt="" class="show_logo"/><img src="../images/logo12.jpg" alt="" class="hide_logo"/></li>
                </ul>
            </div>
        </div>
        <div class="contact contactCon">
            <div class="contactBox">
                <p class="titleBig contact_title">联系我们</p>
                <p class="contact_num">028-86661321</p>
            </div>
        </div>
        <div class="footer">
            <div class="commonCon">
                <div class="contact_l fl">
                    <p>指导单位： 成都市食品安全监测预警数据中心&nbsp;&nbsp;&nbsp; 国家药品不良反应监测中心&nbsp;&nbsp;&nbsp; 成都市科技局&nbsp;&nbsp;&nbsp;成都新经济委</p>
                    <p>蜀ICP备13021642号-9 © 2018 成都数之联科技有限公司. All rights reserved.</p>
                </div>
                <div class="contact_r fr">
                    <img src="../images/code.png" alt=""/>
                </div>
            </div>
        </div>
	</body>
	<script src="../js/jquery.min.js"></script>
    <script src="home.js"></script>
    <script src="../js/commonNav.js"></script>
</html>