* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑";
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

.el-tooltip__popper {
    max-width: 300px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.el-select-dropdown,
.el-dropdown-menu {
    background: #0f2155;
    border: none;
}

.el-select-dropdown__item,
.el-dropdown-menu__item {
    color: #0efcff;
    font-size: 14px;
    a {
        color: #0efcff;
    }
}

.el-select-dropdown__item.selected {
    color: #0efcff;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: #153c6f;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #153c6f;
    color: #0efcff;
}

.el-popper[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: #0f2155;
}

.el-popper[x-placement^="bottom"] .popper__arrow {
    border-bottom-color: #0f2155;
}

.el-dialog__headerbtn {
    top: 30px;
    right: 30px;
}