.more-dimension {
    .dimension-top {
        background: none;
        padding: 0;
        display: flex;
        overflow: unset;
        .left {
            flex: 1;
            background: #fff;
            .search-item {
                display: flex;
                padding: 20px;
                .label {
                    flex: 0 0 90px;
                    height: 40px;
                    line-height: 40px;
                }
                .list {
                    flex: 1;
                    line-height: 40px;
                    .list-t {
                        width: 200px;
                        margin-left: 5px;
                    }
                    .list-box {
                        width: 100%;
                        overflow: hidden;
                        margin-bottom: 10px;
                        .list-item {
                            width: 25%;
                            float: left;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        .right {
            flex: 0 0 150px;
            margin-left: 20px;
            background: #fff;
            .btns {
                display: block;
                width: 100px;
                margin: 40px auto;
            }
        }
    }
    .dimension-table {
        .table-top {
            margin-bottom: 20px;
            overflow: hidden;
        }
    }
}