// 地图的边距，用于给悬浮窗及表格同步
$mapPadding : 20px;
[v-cloak] {
  display: none;
}
/* 悬浮操作区域 start*/
.suspendDisplayArea {
    // width : 300px;
    position : absolute !important;
    top : 0px;
    right : 0px;
    z-index: 999;
    margin : 10px $mapPadding + 10px;
    // color:white;
}
.mapVM {
    overflow: hidden;
}
.opeartionArea {
    // padding: 10px;
    background-color:rgba(73,80,96,1);
    padding : 10px;
}

/* 悬浮操作区域 end*/


.mapContainer {
    padding:0 $mapPadding;
    position: relative;
}

.cascader {
    width: 100%;
}

/* 最左边导航 */
.leftNav {
    margin-left: 30px;
}

.topNav {
    text-align: center;
}

.selecteNav {
    border-bottom: 3px solid blue;
}

.opeartionCard.ivu-card {
    background-color: rgba(14, 98, 192,0.9);
    box-shadow: 4px 4px 5px rgba(4, 36, 93, 0.7);
}

.opeartionCard .ivu-card-body {
    padding : 10px;
    // background-color : rgba(14, 98, 192,0.9);
}

.caseDetailModal {
    .ivu-modal-footer {
        display:none;
    }
}