$dateThemeBack: #fff;
$dateItemBack: #293458;
$dateActiveBack: #2D8BEF;
$disableBack: #E7EBEE;
$topBack: #2E4354;
$btnOk: #42BB9C;
@mixin spanItem($w, $h, $color) {
    display: inline-block;
    height: $h;
    width: $w;
    font-size: 12px;
    color: #333;
    line-height: $h;
    box-sizing: border-box;
    text-align: center;
    /*padding-right: 2px;*/
    background: #fff;
    margin-top: 2px;
    border: 1px solid #eee;
    // box-shadow: 1px 1px 1px #ccc;
    background-clip: content-box;
    cursor: pointer;
    &.disabled {
        background: $disableBack;
        background-clip: content-box;
        border: 1px solid $disableBack;
        cursor: default;
        color: #999;
        &:hover {
            cursor: not-allowed !important;
        }
    }
    &.active {
        background: $dateActiveBack;
        color: #fff;
        border: 1px solid $dateActiveBack;
        background-clip: content-box;
    }
}

.dateContainer {
    .ant-popover-content {
        // width: 400px;
        .ant-popover-arrow {
            border-top-color: #fff;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-top-color: #fff;
            border-left-color: #fff;
        }
    }
    .ant-popover-inner-content {
        padding: 0;
    }
}

.time-cons {
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 16px;
    cursor: pointer;
}

.date-container {
    /*    position: relative;*/
    z-index: 999;
    .date-select {
        width: 100px;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    .date-box {
        background: $dateThemeBack;
        /*width: 400px;*/
        height: auto;
        padding: 10px;
        /*position: absolute;*/
        left: 0;
        top: 50px;
        right: 0;
        border-radius: 5px;
        overflow: hidden;
        .date-type {
            // width: 100%;
            width: 408px;
            overflow: hidden;
            .item {
                @include spanItem(202px, 36px, $topBack);
                margin-top: 0;
                float: left;
                margin: 1px;
            }
        }
        .date-year {
            // width: 100%;
            overflow: hidden;
            margin-top: 8px;
            .item {
                @include spanItem(100px, 36px, $topBack);
                // margin-top: 0;
                float: left;
                margin: 1px;
            }
            .current-year {
                @include spanItem(202px, 36px, $topBack);
                margin-top: 1px;
                font-size: 14px;
                color: rgb(68, 66, 66);
                float: left;
            }
        }
        .date-item-box {
            /*width: 100%;*/
            width: 408px;
            margin-top: 6px;
            // margin-right: -2px;
            .item {
                // padding-right: 2px;
                margin: 1px;
            }
            .type-month {
                // width: 100%;
                overflow: hidden;
                .item {
                    @include spanItem(100px, 36px, $dateItemBack);
                    float: left;
                }
            }
            .type-season {
                // width: 100%;
                overflow: hidden;
                /*margin-right: -2px;*/
                .item {
                    @include spanItem(200px, 49px, $dateItemBack);
                    float: left;
                }
            }
            .type-halfyear {
                width: 100%;
                overflow: hidden;
                /*margin-right: -2px;*/
                .item {
                    @include spanItem(200px, 114px, $dateItemBack);
                    float: left;
                }
            }
            .type-allyear {
                width: 100%;
                overflow: hidden;
                /*margin-right: -2px;*/
                .item {
                    @include spanItem(400px, 114px, $dateItemBack);
                    float: left;
                }
            }
        }
        .date-footer {
            width: 100%;
            overflow: hidden;
            margin-top: 6px;
            .left {
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: left;
                float: left;
                color: #fff;
            }
            .right {
                float: right;
                overflow: hidden;
                .btn {
                    @include spanItem(70px, 32px, $dateItemBack);
                    float: left;
                    border-radius: 2px;
                }
                .ok {
                    background: $btnOk;
                    color: #fff;
                    border: 1px solid $btnOk;
                }
            }
        }
    }
}