<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title id="mainTitle">政务基础大数据平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <script src="http://webapi.amap.com/maps?v=1.3&amp;key=c85b169acc3c5472b5f282ec4cfb5198&amp;plugin=AMap.MouseTool,AMap.PolyEditor"></script>
</head>

<body oncontextmenu="return false">
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>