<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
    <style>
        .box{
            position: relative;
            text-align: center;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
        }
        .left{
            position: absolute;
            left: 0;
        }
        .middle{
            display: inline-block;
        }
        .right{
            position: absolute;
            right: 0
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="left">le</div>
        <div class="middle">mid</div>
        <div class="right">ri</div>
    </div>
</body>
</html>