.tableBox {
    width: 100%;
    // padding: 20px;
    // background: #eee;
    overflow: hidden;
    min-height: 500px;
    position: relative;
    .loadings {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        // line-height: 300px;
    }
}