<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>食药安全大数据</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
		<!-- <link rel="stylesheet" href="../css/pub.css" /> -->
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/commonNav.css" />
		<link rel="stylesheet" href="whitePaper.css" />
	</head>

	<body ondragstart='return false;'>
		<div class="topNav">
			<div class="logo fl">食药安全大数据</div>
			<div class="nav fr">
				<ul>
					<li><a href="../home/home.html">主页</a></li>
					<li>
						<a href="javascript:void(0)">产品&服务</a>
						<div class="secNav">
							<span class="secItem" name="1">食品安全风险分析</span>
                            <span class="secItem" name="2">食品安全关联图谱</span>
                            <span class="secItem" name="3">网络餐饮风险地图</span>
                            <span class="secItem" name="4">市场主体风险分析</span>
                            <span class="secItem" name="5">食品安全风险预警</span>
                            <span class="secItem" name="6">食药投诉智能分析</span>
                            <span class="secItem" name="7">监管效能循数评价</span>
                            <span class="secItem" name="8">餐饮行业智慧监管</span>
						</div>
					</li>
					<li><a href="../whitePaper/whitePaper.html" class="current">行业报告</a></li>
					<li><a href="http://www.unionbigdata.com/about.aspx?t=10">关于我们</a></li>
				</ul>
			</div>
		</div>
		<section>
			<div class="header">
				<img src="../images/banner_bg1.png" alt="" />
				<div>行业报告</div>
			</div>
			<div class="content">
				<div class="pres">
					<div class="search">
						<input placeholder="请输入报告名称" type="text" />
						<img src="../images/icon00.png" alt="" />
					</div>
					<div class="lists">
						<div class="list">
							<div class="cover">
								<div class="cover-title">全国抽检食品安全大数据评估报告</div>
								<div class="time">发布时间：2018-04-18</div>
							</div>
						</div>
						<div class="list">
							<div class="cover">
								<div class="cover-title">全国抽检食品安全大数据评估报告</div>
								<div class="time">发布时间：2018-04-18</div>
							</div>
						</div>
						<div class="list">
							<div class="cover">
								<div class="cover-title">全国抽检食品安全大数据评估报告</div>
								<div class="time">发布时间：2018-04-18</div>
							</div>
						</div>
						<div class="list">
							<div class="cover">
								<div class="cover-title">全国抽检食品安全大数据评估报告</div>
								<div class="time">发布时间：2018-04-18</div>
							</div>
						</div>
						<div class="list">
							<div class="cover">
								<div class="cover-title">全国抽检食品安全大数据评估报告</div>
								<div class="time">发布时间：2018-04-18</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- <footer>
			<div id="contact">
				<div class="con contact-con">
					<div>地址：四川省-成都市高新区吉泰五路88号香年广场T3栋5层</div>
					<div>邮箱：shuzhilian@unionbigdata.com</div>
					<div>电话：028-86661321</div>
					<div>传真：028-86582931</div>
					<div class="code">
						<div></div>
						<div>
							<img src="../images/iconweibo.png" alt="" />
							<img src="../images/iconweixin.png" alt="" />
							<img src="../images/iconqq.png" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div id="copyright">
				<div style="font-size:1.3rem;text-align:center;color: #979DB8;" class="con copyright-con">
					指导单位： 成都市食品安全监测预警数据中心&nbsp;&nbsp;&nbsp; 国家药品不良反应监测中心&nbsp;&nbsp;&nbsp; 成都市科技局&nbsp;&nbsp;&nbsp; 成都新经济委 <br />
					<span style="font-size:1.2rem;color: #979DB8;">© 2018 成都数之联科技有限公司. All rights reserved.</span>
				</div>
			</div>
		</footer> -->
		<div class="footer">
			<div class="commonCon">
				<div class="contact_l fl">
					<p>指导单位： 成都市食品安全监测预警数据中心&nbsp;&nbsp;&nbsp; 国家药品不良反应监测中心&nbsp;&nbsp;&nbsp; 成都市科技局&nbsp;&nbsp;&nbsp;成都新经济委</p>
					<p>蜀ICP备13021642号-9 © 2018 成都数之联科技有限公司. All rights reserved.</p>
				</div>
				<div class="contact_r fr">
					<img src="../images/code.png" alt=""/>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/pub.js"></script>
	<script src="../js/commonNav.js"></script>
	<script src="whitePaper.js"></script>

</html>