.ant-modal-wrap {
    .modal-box {
        .modal_title {
            width: 100%;
        }
        overflow: hidden;
        .modal-chart {
            width: 50%;
            height: 300px;
            float: left;
            position: relative;
            transform: rotate(0deg);
            .title {
                position: absolute;
                top: 0;
                left: 20px;
                height: 40px;
                font-size: 14px;
                font-weight: 400;
                color: rgba(50, 50, 50, 1);
            }
            .main-chart,
            .out-box {
                position: absolute;
                top: 40px;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: calc(100% - 40px);
            }
            .circle-box {
                width: 240px;
                height: 240px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                position: relative;
                .cirleft,
                .cirright {
                    float: left;
                    width: 50%;
                    height: 100%;
                    position: relative;
                    background: #eee;
                    .bar {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        span {
                            position: absolute;
                            top: 30%;
                            font-size: 12px;
                            white-space: nowrap;
                            transform: translateY(-50%);
                        }
                    }
                    .leftbar {
                        background: #ddd;
                        span {
                            right: 10px;
                        }
                    }
                    .rightbar {
                        background: #999;
                        span {
                            left: 10px;
                        }
                    }
                }
                .cirleft {
                    background: #eee;
                }
                .lines {
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    bottom: 0;
                    width: 0.5px;
                    transform: translateX(-50%);
                    background: #ccc;
                }
            }
            .out-box {
                .in-box {
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .point {
                        position: absolute;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        cursor: pointer;
                        border: 3px solid #79CDF7;
                        background: #fff;
                    }
                }
            }
        }
    }
    .modal-compare {
        .top {
            width: 100%;
            span {
                display: inline-block;
                width: 50%;
                padding-left: 20px;
            }
        }
        .bottom {
            margin-top: 20px;
        }
    }
    .ant-modal-header {
        background: #2D2D2D;
        // height: 50px;
        padding: 10px 24px;
        .ant-modal-title {
            color: #fff;
        }
    }
    .ant-modal-close {
        color: #fff;
        .ant-modal-close-x {
            height: 45px;
            line-height: 45px;
        }
    }
}