
* {
    
    padding:0;
    margin:0;
    box-sizing : border-box;

    /*禁止用户选中文字*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
html {
    height: 100%;
    min-width: 1600px;
    min-height: 900px;
}

body {
    height: 100%;
    background-color: rgba(237,241,242,1);
    font-size: 14px;
}
li {
    list-style: none;
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
