#analysis {
    .top {
        width: 100%;
        height: 460px;
    }
    .left,
    .right {
        float: left;
        height: 100%;
    }
    .left {
        width: 20%;
        padding-right: 20px;
        >div {
            width: 100%;
            height: 140px;
            margin-bottom: 20px;
            * {
                color: #fff;
            }
            &:last-child {
                margin-bottom: 0;
            }
            >div {
                width: 100%;
                cursor: pointer;
                &:first-child {
                    position: relative;
                    height: 122px;
                    padding-left: 14%;
                    >div:first-child {
                        position: absolute;
                        top: 50%;
                        font-size: 20px;
                        line-height: 38px;
                        transform: translate(0, -50%);
                        >span {
                            font-size: 50px;
                            font-weight: bold;
                        }
                    }
                    >div:last-child {
                        display: flex;
                        align-items: flex-end;
                        position: absolute;
                        width: 16%;
                        margin-right: 3%;
                        height: 100px;
                        bottom: 0;
                        right: 0;
                        >span {
                            float: left;
                            width: 20%;
                            height: 50px;
                            background: rgba(250, 250, 250, .3);
                            &:first-child {
                                height: 70px;
                            }
                            &:nth-child(2) {
                                margin: 0 20%;
                                height: 90px;
                            }
                            &:last-child {
                                height: 50px;
                            }
                        }
                    }
                }
                &:last-child {
                    height: 18px;
                    background: rgba(0, 0, 0, .2);
                }
            }
        }
        .con-active {
            * {
                color: rgb(180, 36, 36) !important;
            }
        }
    }
    .right {
        width: 80%;
        background: #fff;
    }
    .bottom {
        width: 100%;
        overflow: hidden;
        background: #fff;
        margin-top: 20px;
        padding-bottom: 10px;
        .ant-tabs-nav {
            width: 100%;
            .ant-tabs-tab {
                &:hover {
                    color: #276AB0;
                }
                display: block;
                float: left;
                margin: 0;
                width: 16.6%;
                text-align: center;
                font-size: 18px;
            }
            .ant-tabs-tab-active {
                position: relative;
                color: #276AB0;
                &:after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -3px;
                    height: 2px;
                    content: "";
                    background: #276AB0;
                }
            }
            .ant-tabs-ink-bar {
                height: 0;
            }
        }
    }
}